- title t(:'.title')

- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'buttons.cancel'), :back, :class => "button back"
  .clear

= form_for @message, :url => user_messages_path(@user) do |f|

  = render "messages/form", :object => f