/* TABLES
---------------------------------------- */
/*$table-color-odd: #f3f7fb;*/
/* MAIN NAV */
/* SUBNAV COLORS
---------------------------------------- */
/* NOTICES
---------------------------------------- */
/* PAGINATION
---------------------------------------- */
/* line 1, ../../../app/stylesheets/_base.scss */
html {
  font-size: 100%;
  min-height: 101%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, ../../../app/stylesheets/_base.scss */
body {
  background: #333333 url(/images/backgrounds/bg-footer.gif);
  font-family: 'Droid Sans', "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #666;
}

/* line 21, ../../../app/stylesheets/_base.scss */
html.js img, html.js object,
html.iem7 img,
html.iem7 object,
html.ie6 img,
html.ie6 object,
html.ie7 img,
html.ie7 object,
html.ie8 img,
html.ie8 object {
  max-width: 100%;
}

/* line 26, ../../../app/stylesheets/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 33, ../../../app/stylesheets/_base.scss */
sup {
  top: -0.5em;
}

/* line 36, ../../../app/stylesheets/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 39, ../../../app/stylesheets/_base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 44, ../../../app/stylesheets/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 47, ../../../app/stylesheets/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 50, ../../../app/stylesheets/_base.scss */
input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

/* line 56, ../../../app/stylesheets/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 61, ../../../app/stylesheets/_base.scss */
a {
  color: #157ebe;
}
/* line 63, ../../../app/stylesheets/_base.scss */
a img {
  border: none;
}

/* line 66, ../../../app/stylesheets/_base.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 71, ../../../app/stylesheets/_base.scss */
.wide {
  width: 100%;
}

/* line 74, ../../../app/stylesheets/_base.scss */
.unread_bullet {
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
}

/* line 79, ../../../app/stylesheets/_base.scss */
.centered, .signup_button {
  margin: 0 auto;
}

/* line 82, ../../../app/stylesheets/_base.scss */
.hidden {
  display: none;
}

/* line 85, ../../../app/stylesheets/_base.scss */
b {
  font-weight: bold;
}

/* line 88, ../../../app/stylesheets/_base.scss */
strong {
  font-weight: bold;
}

/* FOLDED CORNER */
/* CSS ARROWS
---------------------------------------- */
/* ANIMATION
---------------------------------------- */
@-webkit-keyframes fadeIn {
  /* line 170, ../../../app/stylesheets/_base.scss */
  0% {
    opacity: 0;
  }

  /* line 171, ../../../app/stylesheets/_base.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidingFromLeft {
  /* line 175, ../../../app/stylesheets/_base.scss */
  0% {
    left: -1440px;
    opacity: 0;
  }

  /* line 176, ../../../app/stylesheets/_base.scss */
  50% {
    left: 50px;
    opacity: 0.5;
  }

  /* line 177, ../../../app/stylesheets/_base.scss */
  60% {
    left: 50px;
    opacity: 0.5;
  }

  /* line 178, ../../../app/stylesheets/_base.scss */
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes movingarrow {
  /* line 181, ../../../app/stylesheets/_base.scss */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 182, ../../../app/stylesheets/_base.scss */
  50% {
    top: 20px;
    opacity: 0.5;
  }

  /* line 183, ../../../app/stylesheets/_base.scss */
  60% {
    top: 20px;
    opacity: 0.5;
  }

  /* line 184, ../../../app/stylesheets/_base.scss */
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  /* line 187, ../../../app/stylesheets/_base.scss */
  0% {
    opacity: 0;
  }

  /* line 188, ../../../app/stylesheets/_base.scss */
  100% {
    opacity: 1;
  }
}

/*VARIABLES*/
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
h4, h5, h6, b, strong, caption, th, thead, dt, legend {
  font-weight: bold;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
cite, dfn, em, i {
  font-style: italic;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
code, kbd, samp, pre, tt, var {
  font-family: mono-space, monospace;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
h1, h2, h3, h4, h5, h6 {
  word-spacing: -0.125em;
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
p {
  word-spacing: 0.125em;
  hyphenate: auto;
  hyphenate-lines: 3;
}

/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
p + p {
  text-indent: 1.5em;
}
/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
p + p.no-indent {
  text-indent: 0;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
pre {
  white-space: pre;
}

/* line 37, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
mark {
  background: rgba(255, 255, 0, 0.4);
  padding: 0 0.25em;
}

/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
ins {
  color: red;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
small, sup, sub {
  font-size: 80%;
}

/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
big {
  font-size: 125%;
  line-height: 80%;
}

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
abbr, acronym {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
sup, sub {
  line-height: 0;
}

/* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
sup {
  vertical-align: super;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
sub {
  vertical-align: sub;
}

/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
blockquote {
  padding: 1.5em;
}

/* line 64, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
hr {
  border: none;
  background: #dddddd;
  width: 100%;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
ul, ol {
  margin-left: 1.5em;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
ul {
  list-style: disc outside;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
ol {
  list-style: decimal outside;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
input, select, button {
  cursor: pointer;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
table {
  font: inherit;
  width: 100%;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
article, aside, header, hgroup, nav, section, footer {
  float: left;
  display: block;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
figure {
  display: block;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
.debug {
  outline: solid gold 1px;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_base.sass */
.debug-background {
  background: rgba(255, 215, 0, 0.2) !important;
}

/* line 2, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
body {
  font-size: 75%;
  line-height: 1.5;
}

/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h1, h2, h3, h4, h5, h6 {
  position: relative;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h1, h2 {
  line-height: 36px;
  margin-bottom: 18px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h1, h2, h3, h4 {
  margin-top: 18px;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h3, h4, h5, h6 {
  line-height: 18px;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h1 {
  font-size: 36px;
  top: 5px;
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h2 {
  font-size: 28px;
  top: 8px;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h3 {
  font-size: 22px;
  top: 1px;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h4 {
  font-size: 18px;
  top: 2px;
}

/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h5 {
  font-size: 15px;
  top: 4px;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h6 {
  font-size: 13px;
  top: 5px;
}

/* line 42, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
p, pre, address {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  top: 5px;
}

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
abbr, code, kbd, samp, small, var {
  line-height: 15px;
}

/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
ul, ol, dl, dialog {
  font-size: 13px;
  line-height: 18px;
  position: relative;
  top: 5px;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 59, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
li ul, li ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 63, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
ul ul, ol ol {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
li h1, li h2, li h3, li h4, li h5, li h6, li p {
  top: 0;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
form, legend, label {
  font-size: 13px;
  line-height: 18px;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
legend {
  position: relative;
  top: 5px;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
input, textarea {
  font-size: 12px;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
table {
  font-size: 13px;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
caption {
  font-size: 13px;
  line-height: 18px;
  position: relative;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails_303/gems/compass-baseline-0.4.1/lib/baseline/stylesheets/baseline/modules/_type.sass */
hr {
  position: relative;
  height: 4px;
  margin: 18px 0 14px 0;
}

/* line 10, ../../../app/stylesheets/_typography.scss */
article, aside, header, hgroup, nav, section, footer {
  float: none;
}

/* line 13, ../../../app/stylesheets/_typography.scss */
li {
  margin-bottom: 18px;
}

/* line 16, ../../../app/stylesheets/_typography.scss */
h2 {
  font-weight: normal;
}

/* line 19, ../../../app/stylesheets/_typography.scss */
h3 {
  margin-bottom: 18px;
  color: #999;
}

/* line 23, ../../../app/stylesheets/_typography.scss */
p + p {
  text-indent: 0;
}

/* line 26, ../../../app/stylesheets/_typography.scss */
p {
  padding-bottom: 18px;
}

@-webkit-keyframes scale_from_small {
  /* line 10, ../../../app/stylesheets/homepage.scss */
  0% {
    -moz-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }

  /* line 13, ../../../app/stylesheets/homepage.scss */
  60% {
    -moz-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    -o-transform: scale(0.4, 0.4);
    -ms-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0;
  }

  /* line 16, ../../../app/stylesheets/homepage.scss */
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes scale_to_big {
  /* line 22, ../../../app/stylesheets/homepage.scss */
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.4;
  }

  /* line 25, ../../../app/stylesheets/homepage.scss */
  60% {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0.8;
  }

  /* line 28, ../../../app/stylesheets/homepage.scss */
  100% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  /* line 33, ../../../app/stylesheets/homepage.scss */
  0% {
    opacity: 0;
  }

  /* line 34, ../../../app/stylesheets/homepage.scss */
  100% {
    opacity: 1;
  }
}

/* line 37, ../../../app/stylesheets/homepage.scss */
#inner_content {
  background: #041826;
}

/* line 41, ../../../app/stylesheets/homepage.scss */
img {
  max-width: 100%;
}

/* line 44, ../../../app/stylesheets/homepage.scss */
strong {
  font-weight: bolder;
}

/* line 49, ../../../app/stylesheets/homepage.scss */
h1#main_title {
  text-indent: -9990px;
  height: 0;
  /* keep consistent baseline */
}

/* line 53, ../../../app/stylesheets/homepage.scss */
.homepage #container {
  padding: 16px auto 0;
}

/* line 56, ../../../app/stylesheets/homepage.scss */
h2.moto {
  font-size: 2em;
  /*line-height: #{ 18/ $em}em;*/
  color: #7bb3cf;
  font-weight: normal;
  text-shadow: black 0 1px 1px;
  -webkit-animation: scale_to_big 1s;
  -moz-animation: scale_to_big 1s;
}

/* line 66, ../../../app/stylesheets/homepage.scss */
#music_notes {
  background: transparent url("/images/homepage/music-notes.png") center -40px repeat-x;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  -webkit-animation: opacity 4s;
  -moz-animation: opacity 4s;
  -webkit-animation: slidingFromLeft 4s;
}

/* line 81, ../../../app/stylesheets/homepage.scss */
.homepage.logged_out #inner_content {
  padding: 0;
}

/* line 84, ../../../app/stylesheets/homepage.scss */
#inner_halo {
  position: relative;
  background: transparent url("/images/homepage/halo.png") center top no-repeat;
}

/* line 88, ../../../app/stylesheets/homepage.scss */
#main {
  text-align: center;
  padding: 20px;
}

/* line 93, ../../../app/stylesheets/homepage.scss */
#logo_home, #main-icon {
  width: 80%;
  margin: 0 auto;
}

/* line 98, ../../../app/stylesheets/homepage.scss */
#main-icon {
  margin-bottom: 10px;
}
/* line 100, ../../../app/stylesheets/homepage.scss */
#main-icon img {
  -webkit-animation: scale_from_small 1s;
  -moz-animation: scale_from_small 1s;
}

/* line 104, ../../../app/stylesheets/homepage.scss */
#logo img {
  -webkit-animation: scale_from_small 1s;
  -moz-animation: scale_from_small 1s;
}

/* line 110, ../../../app/stylesheets/homepage.scss */
#header {
  background: none;
  background-color: #001824;
}

/* line 115, ../../../app/stylesheets/homepage.scss */
.signup_button {
  -webkit-animation: slidingFromLeft 2s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  display: block;
  height: 70px;
  width: 220px;
  line-height: 65px;
  margin: 20px auto;
  text-transform: uppercase;
  text-shadow: white 0 1px 1px;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  background: transparent url('/images/buttons/signup_button/signup_bc.png?1303908836') left top repeat-x;
}
/* line 125, ../../../app/stylesheets/homepage.scss */
.signup_button a {
  font-size: 0.65em;
  text-decoration: none;
  color: #604f1b;
  position: relative;
}
/* line 130, ../../../app/stylesheets/homepage.scss */
.signup_button a:hover {
  color: #887026;
}
/* line 132, ../../../app/stylesheets/homepage.scss */
.signup_button a:active {
  top: 1px;
}
/* line 142, ../../../app/stylesheets/homepage.scss */
.signup_button .bl, .signup_button .br {
  left: -25px;
  position: absolute;
  width: 25px;
  height: 70px;
  background: transparent url('/images/buttons/signup_button/signup_bl.png?1303908836') left top no-repeat;
  display: block;
}
/* line 149, ../../../app/stylesheets/homepage.scss */
.signup_button .br {
  left: 100%;
  right: -25px;
  background: transparent url('/images/buttons/signup_button/signup_br.png?1303908836') left top no-repeat;
}

/* line 156, ../../../app/stylesheets/homepage.scss */
.features_columns {
  background: #efefef;
}
/* line 159, ../../../app/stylesheets/homepage.scss */
.features_columns .columns {
  width: 27.333%;
  padding: 3%;
  float: left;
  display: inline;
  min-width: 320px;
}

/* line 165, ../../../app/stylesheets/homepage.scss */
.FB_fan iframe {
  margin: 0 auto;
  width: 300px;
  margin-left: 14%;
}

/* line 173, ../../../app/stylesheets/homepage.scss */
.home_testimonials ul {
  list-style: none;
  padding-left: 0;
  margin-top: 2em;
  font-size: 10px;
  line-height: 1.48em;
}
/* line 179, ../../../app/stylesheets/homepage.scss */
.home_testimonials ul li {
  margin-bottom: 15px;
  display: block;
  vertical-align: middle;
  text-shadow: white 0 1px 1px;
  padding: 10px;
  background-color: #fff;
  -moz-box-shadow: #666666, 0, 0, 3px, 1px inset;
  -webkit-box-shadow: #666666, 0, 0, 3px, 1px inset;
  -o-box-shadow: #666666, 0, 0, 3px, 1px inset;
  box-shadow: #666666, 0, 0, 3px, 1px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 189, ../../../app/stylesheets/homepage.scss */
.home_testimonials ul li .text {
  font-size: 11px;
  padding-left: 50px;
}
/* line 193, ../../../app/stylesheets/homepage.scss */
.home_testimonials ul li .author {
  font-weight: bold;
}
/* line 196, ../../../app/stylesheets/homepage.scss */
.home_testimonials ul li .avatar {
  float: left;
  border: 3px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/*  #header {
    background:none;
    background-color:#000; }

  #content {
    background: $blue_dark;
    color: $header-data-color;
    @include background-image(linear-gradient($blue_light, $blue_dark)); }
    
  .halo {
    text-align:center;
    background: transparent url("/images/backgrounds/halo.png") center top no-repeat;
    min-height: 400px; }
    
  #inner_content {
    background: transparent url("/images/backgrounds/bg-music-notes.png") center top no-repeat;
    padding: 0;}
    
  .icon_and_logo {
    @extend .centered;
    width: 40%;
    padding-top: 20px;}
    
  #home_moto {
    text-align:center;
    margin-top: 20px;
    line-height: 1.4em;
    color: #00496d;
    @include inset(#bababa);
    font-size: 2.6em; }
    
  .signup_button {
    -webkit-animation:slidingFromLeft 2s ;
    @extend .centered;
    @include opacity(0.9);
    display:block;
    height: 70px;
    width: 220px;
    line-height: 65px;
    margin-top: 20px;
    text-transform:uppercase;
    a {
      font-size: 0.65em;
      text-decoration:none;
      color:#604f1b;
      position: relative;
      &:hover {
        color: lighten(#604f1b, 10%); }
      &:active {
        top: 1px; }}
        
    @include inset(#FFF);
    font-weight:bold;
    font-size: 1.5em;
    position:relative;
    background:transparent image-url('/images/buttons/signup_button/signup_bc.png') left top repeat-x;
    $arrow-size: 25px;
    
    .bl {
      left: 0 - $arrow-size;
      position:absolute;
      width: $arrow-size;
      height: 70px;
      background:transparent image-url('/images/buttons/signup_button/signup_bl.png') left top no-repeat;
      display:block; }
    .br {
      @extend .bl;
      left: 100%;
      right: 0 - $arrow-size ;
      background:transparent image-url('/images/buttons/signup_button/signup_br.png') left top no-repeat; }
  }
  #how_it_works {
    background: #efefef;
    border-top: 1px solid #fff;
    padding: 30px 20px 20px;
    font-size: 12px;
    color:#666;
    
    #steps {
      display:inline;
      float:left;
      width: 350px;
      width: 53%;
      margin-left: 2%;
      }
      
    #home_testimonials {
      display:inline;
      float:left;
      width: 45%;
      ul {
        list-style: none;
        padding-left: 0;
        font-size: 10px;
        line-height: 1.48em;
        li {
          margin-bottom: 15px;
          display:block;
          vertical-align: middle;
          @include inset(#fff);
          padding: 10px;
          background-color:#fff;
          @include box-shadow(#666, 0, 0, 3px, 1px inset);
          @include border-radius(5px);

          .text {
            font-size: 11px;
            padding-left: 50px;
          }
          .author {
            font-weight:bold;
          }
          .avatar {
            float:left; 
            border: 3px solid #ccc;
            @include border-radius(3px); }}
      }
    }
  }


#user_forms {
  width: 35%;
  padding: 20px;
  margin: 20px auto;
  background:#efefef;
  color:#666;
  @include border-radius(8px);
  @include single-box-shadow(#666, 0, 0, 5px);
}

.step {
  float: left;
  width: 30%;
  min-width: 160px;
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight:bold;
  color:#828282;
  position:relative;
  @include inset(#fff);
  top: -37px;
  .app_sample {
    display: block;
    position:relative;
    width: 154px; }
    
  .app_sample_image {
    width: 130px;
    height: 130px;
    border: 5px solid desaturate(lighten($blue_basic, 40%), 30%);
    background-color:#FFF;
    @include border-radius(4px); }
    
  .flag {
    text-align:center;
    color:#fff;
    @include  inset(#000);
    font-size: 22px;
    line-height: 62px; 
    width: 49px;
    height: 62px;
    margin-bottom: 10px;
    background:transparent image-url('/images/backgrounds/flag.png') center center no-repeat;
  }
  .zoom_icon {
    position:absolute;
    top:-10px;
    right:0;
    width: 31px;
    height: 31px;
    background:transparent image-url('/images/icons/zoom-icon.png') center center no-repeat; }
}*/
/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 480px) {
  /* 1.ROOT */
  /* 2.HEADINGS */
  /*.logged_out {
      
      .icon_and_logo {
        width: 50%; }
        
      .halo {
        min-height: 280px;
        padding-bottom: 30px;
        margin-bottom: 0 ; }
        
      #user_forms {
        width: 80%;
        margin: 20px auto; }
        
      .signup_button a {
        font-size: 0.55em; }
        
      #user_nav {
        margin-top:0;
        text-align:left;
        a {
          text-align:center;
          display:block;
          float:left;
          width: 33%;
          margin: 0; }}
      #logo {
        width: 30%;
        margin: 0 auto 15px;
        float: none; }
      #home_moto {
        line-height: 1.2em;
        font-size: 1.4em ;
        padding: 0 10%; }
    }
  */
  /* 3.TYPOGRAPHY */
  /*  h1 {
      font-size: 1.2em;
      margin-bottom: 1em;
    }*/
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */
}
/*/mediaquery*/
/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {
  /* 1.ROOT */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /*  #pages.homepage {
      #logo {
        display: block;}
    }
    .icon_and_logo {
      width: 40%; }
    
    .logged_out {
      .halo {
        margin-bottom: 30px; }
      #home_moto {
        line-height: 1.2em;
        font-size: 1.6em;
        padding: 0 10%; }
    }*/
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */
}
/*/mediaquery*/
/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {
  /* 1.ROOT */
  /* 2.HEADINGS */
  /*  .icon_and_logo {
      width: 60%;}*/
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */
}
/*/mediaquery*/
/*1382px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 1382px) {
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */
}
/*/mediaquery*/
/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */
}
/*/mediaquery*/
