/* TABLES
---------------------------------------- */
/*$table-color-odd: #f3f7fb;*/
/* MAIN NAV */
/* SUBNAV COLORS
---------------------------------------- */
/* NOTICES
---------------------------------------- */
/* PAGINATION
---------------------------------------- */
/* line 1, ../../../app/stylesheets/_base.scss */
html {
  font-size: 100%;
  min-height: 101%;
}

/* line 5, ../../../app/stylesheets/_base.scss */
body {
  background-color: #cfcfcf;
  font-family: 'Droid Sans', "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  color: #666;
  line-height: 18px;
}

/* line 12, ../../../app/stylesheets/_base.scss */
img {
  width: 100%;
}

/* line 16, ../../../app/stylesheets/_base.scss */
a {
  color: #157ebe;
}
/* line 18, ../../../app/stylesheets/_base.scss */
a img {
  border: none;
}

/* line 21, ../../../app/stylesheets/_base.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 26, ../../../app/stylesheets/_base.scss */
.wide {
  width: 100%;
}

/* line 29, ../../../app/stylesheets/_base.scss */
.unread_bullet {
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
}

/* line 34, ../../../app/stylesheets/_base.scss */
.centered {
  margin: 0 auto;
}

/* line 37, ../../../app/stylesheets/_base.scss */
.hidden {
  display: none;
}

/* line 40, ../../../app/stylesheets/_base.scss */
b {
  font-weight: bold;
}

/* CSS ARROWS
---------------------------------------- */
/* ANIMATION
---------------------------------------- */
@-webkit-keyframes slidingFromLeft {
  /* line 81, ../../../app/stylesheets/_base.scss */
  0% {
    left: -1440px;
    opacity: 0;
  }

  /* line 82, ../../../app/stylesheets/_base.scss */
  50% {
    left: 50px;
    opacity: 0.5;
  }

  /* line 83, ../../../app/stylesheets/_base.scss */
  60% {
    left: 50px;
    opacity: 0.5;
  }

  /* line 84, ../../../app/stylesheets/_base.scss */
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes movingarrow {
  /* line 87, ../../../app/stylesheets/_base.scss */
  0% {
    top: -200px;
    opacity: 0;
  }

  /* line 88, ../../../app/stylesheets/_base.scss */
  50% {
    top: 20px;
    opacity: 0.5;
  }

  /* line 89, ../../../app/stylesheets/_base.scss */
  60% {
    top: 20px;
    opacity: 0.5;
  }

  /* line 90, ../../../app/stylesheets/_base.scss */
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  /* line 93, ../../../app/stylesheets/_base.scss */
  0% {
    opacity: 0;
  }

  /* line 94, ../../../app/stylesheets/_base.scss */
  100% {
    opacity: 1;
  }
}

/*HEADINGS
-------------------------------------------------------- */
/* line 7, ../../../app/stylesheets/text.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: white 0 1px 1px;
}

/* line 11, ../../../app/stylesheets/text.scss */
h1 {
  color: #515151;
  font-size: 1.875em;
  margin-bottom: 0.6em;
  line-height: 1.2em;
}

/* line 17, ../../../app/stylesheets/text.scss */
h2 {
  color: #515151;
  font-size: 1.25em;
  margin-bottom: 0.9em;
  line-height: 0.9em;
}

/* line 23, ../../../app/stylesheets/text.scss */
h3 {
  color: #515151;
  font-size: 0.8125em;
  font-weight: bold;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

/* line 30, ../../../app/stylesheets/text.scss */
h4 {
  color: #000;
  font-size: 0.8125em;
  margin-bottom: 0.9375em;
  line-height: 0.9375em;
  font-variant: small-caps;
}

/* line 37, ../../../app/stylesheets/text.scss */
h5 {
  color: #000;
  font-size: 1em;
  margin-bottom: 1.8em;
  line-height: 1.8em;
  font-variant: small-caps;
}

/* line 44, ../../../app/stylesheets/text.scss */
h6 {
  color: #000;
  font-size: 1em;
  margin-bottom: 1.8em;
  line-height: 1.8em;
}

/* line 50, ../../../app/stylesheets/text.scss */
p, ul {
  font-size: 0.75em;
  line-height: 1.48em;
  margin-bottom: 2.3em;
}

/* line 56, ../../../app/stylesheets/text.scss */
blockquote p {
  font-size: 1.2em!important;
  line-height: 1.5em!important;
  margin-bottom: 1.5em!important;
  font-style: italic;
  font-weight: bold;
}

/* line 64, ../../../app/stylesheets/text.scss */
blockquote p cite {
  font-style: normal;
}

/* line 67, ../../../app/stylesheets/text.scss */
.generic strong {
  font-variant: small-caps;
}

/* line 70, ../../../app/stylesheets/text.scss */
.generic em {
  font-style: italic;
  font-weight: inherit;
}

/* line 74, ../../../app/stylesheets/text.scss */
.amp {
  /* Give those ampersands a right sexy look */
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
  line-height: inherit;
}

/* line 80, ../../../app/stylesheets/text.scss */
abbr {
  border-bottom: 1px dotted #666;
  border-color: inherit;
  cursor: help;
}

/* line 86, ../../../app/stylesheets/text.scss */
ul {
  margin-bottom: 1.8em;
  list-style: disc outside;
  padding-left: 20px;
}

/* line 91, ../../../app/stylesheets/text.scss */
ul li {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 95, ../../../app/stylesheets/text.scss */
ul li.caption {
  /* Apply this class to the first list item in a list to give it a caption */
  font-variant: small-caps;
  list-style: none;
  color: #000;
}

/* line 100, ../../../app/stylesheets/text.scss */
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 5em;
}

/* line 104, ../../../app/stylesheets/text.scss */
li > ul li, li > ol li {
  font-size: 1em;
}

/* line 107, ../../../app/stylesheets/text.scss */
ol {
  margin-bottom: 1.8em;
  list-style: decimal inside;
}

/* line 111, ../../../app/stylesheets/text.scss */
ol li {
  font-size: 1.2em;
  line-height: 1.5em;
}
