<div id="messages_chart" style="width: 380px; height: 300px;">
</div>


<script type="text/javascript">
  $(function () {
    new Highcharts.Chart({
      chart: {
         renderTo: 'messages_chart',
         defaultSeriesType: 'column' },
      title: { text: 'Messages per Day' },
      xAxis: { type: 'datetime' },
      yAxis: {
        title: { text: 'Messages'}
      },
      tooltip: {
        formatter: function () {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 0) + " messages"
        }
      },
      plotOptions: {
        column: {
          dataLabels: {
            enabled: true
          },
          enableMouseTracking: true,
          pointPadding: 0.1,
          groupPadding: 0,
          borderWidth: 0,
          shadow: false
        }
      },
      series: [{
        name: "Messages per Weeks",
        pointInterval: <%= 1.month * 1000 %>,
        pointStart: <%= 1.year.ago.at_midnight.to_i %>,
        data: <%= Message.where('created_at > ?', 1.year.ago).group("month(created_at)").count.map{|month_count| month_count[1]}.reverse.inspect %>
       }]
    });
  });
</script>
