-if !@users.blank?
  %ul.mini-profiles
    = render @users
    = paginate @users

-else
  .well
    %p=t(:'users.index.no_users')
    %p= t(:'users.index.invite_more_users')
    .spread
      %a{:onclick => "sendRequestViaMultiFriendSelector(); return false;", :class => "btn btn-mini"}
        =t(:'buttons.invite_your_friends_from_fb')
      .clearfix

