- set_title t(:'.title')
- description t(:'.description')
- canonical request.url
= everywhere_js do
  Layout.init("right-panel-layout");

-if !@friendships.blank?
  %table.table.table-bordered
    %tbody
      = render :partial => "friendship", :collection => @friendships, :current_user => @current_user

-else
  .no_records
    =t(:'.no_users')
