-title t(:'.title'), false

- content_for :sub_nav do
  %ul#sub_sections
    %li
      = link_to t(:'menu.messages.inbox'), user_messages_path(@user)
    %li
      = link_to t(:'menu.messages.sent_messages'), user_messages_path(@user, :mailbox => :sent)
    %li
      = link_to t(:'menu.users.contacts'), user_contacts_path(@user), :class => "current"
  .clear

-if !@friendships.blank?
  %section.users_list
    = render :partial => 'friendship', :collection => @friendships

-else

  =t(:'.no_users')