- set_title t(:'.title')
- description t(:'.description')
- keywords t(:'.keywords')

.search-loader
%section.users-list
  = render(:partial => "users_list")

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      Images.adjustProfileThumbs('.mini-profile--thumb img');
    });
    $(window).smartresize(function() {
      Images.adjustProfileThumbs('.mini-profile--thumb img');
    });
    $(document).ready(function() {
      UserList.init();
      RemoteProfile.init();
      mixpanel.track('Viewed user index');
    });
