- title t(:'.title'), false

- content_for :sub_nav do
  = render "search"

- content_for :scripts do
  = pageless(@users.num_pages, users_path)

-if !@users.blank?
  %section.users_list
    = render :partial => 'user', :collection => @users
    .clear

  = paginate @users
      
-else
  =t(:'.no_users')

