- set_title t(:'.title')
- description t(:'.description')
- keywords t(:'.keywords')

%section.users-list
  = render(:partial => "users_list")

= everywhere_js do
  UserList.init();
  RemoteProfile.init();
  Layout.init("left-panel-layout");
  mixpanel.track('Viewed user index');
