- set_title t(:'.title', :username => @user.username)
- @nobg = true
- @body_class = "right-panel-layout"

- if @user.profile_completed?
  - description t('users.show.description', username: @user.username, user_type: @user.translated_user_type, searching_for: (@user.searching_for ? @user.searching_for : ''), country: (i18n_country(@user) rescue t(:somewhere_in_the_world)))
- else
  - description t(:'.title', :username => @user.username) + " - Emuzikos"

- set_meta_tags :canonical => request.url

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      mixpanel.track('Viewed user profile');
      mixpanel.track_forms('#contactform form', 'Submited message form');
    });

%section.user-profile
  - if @is_remote_profile
    %nav.action-bar
      .pull-right
        = link_to '#', class: 'close-white' do
          %i.icon-cancel
      .clearfix
  = render(:partial => "profile", locals: {user: @user, locals: {remote_profile: @is_remote_profile}})
