%a.socialite.facebook-like{data: {href: "#{request.protocol}#{request.host_with_port}#{request.fullpath}", layout: "button_count" , "show-faces" => false}}
- #%a.socialite.twitter-share{"data-url" => @current_url, :href => "http://twitter.com/share"}

