/[if lte IE 7]
  #ie_warning
    .inner_warning_wrapper
      %h2= t(:'title', :scope => [:ie_warning]).html_safe
      %br
      %p= t(:'description', :scope => [:ie_warning]).html_safe
      %p= t(:'popular_browsers_choice', :scope => [:ie_warning]).html_safe
      %p= t(:'click_to_download', :scope => [:ie_warning]).html_safe
      %ul
        %li
          %a{:href => "http://www.mozilla-europe.org/fr/firefox/", :target => "_blank"}
            =image_tag('browsers/browser_firefox.gif')
            %br
            Firefox 3.5
        %li
          %a{:href => "http://www.apple.com/fr/safari/download/", :target => "_blank"}
            =image_tag('browsers/browser_safari.gif')
            %br
            Safari 4
        %li
          %a{:href => "http://www.google.com/chrome?hl=fr", :target => "_blank"}
            =image_tag('browsers/browser_chrome.gif')
            %br
            Google Chrome
        %li
          %a{:href => "http://www.microsoft.com/windows/Internet-explorer/default.aspx", :target => "_blank"}
            =image_tag('browsers/browser_ie.gif')
            %br
            Internet Explorer 9
      .clear