#overlay.overlay
  .overlay--inner
    %header.overlay--topbar
      .pull-right
        = link_to '#', class: 'btn btn-primary', data: {trigger: 'overlay-close'} do
          %i.icon-cancel
      .clearfix
    .overlay--body
