html{
	font-size:100%;
	min-height:101%; }
	
body { 
  background-color: #cfcfcf;
  font-family: 'Droid Sans', "Verdana", "Helvetica", "Arial", sans-serif;
  font-size:62.5%;
  color:#666; }
  
a { 
  color: $blue_dark;
  img {
    border: none; }}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;}

.wide {
  width: 100%;}
 
.unread_bullet {
  font-size: 20px;
  font-weight:bold;
  line-height: 1em; }

.centered {
  margin: 0 auto;
}

b {
  font-weight:bold;
}
@mixin inset($color) {
  text-shadow: $color 0 1px 1px; }

/* CSS ARROWS
---------------------------------------- */

@mixin css-arrow($orientation: "top", $bg-color: #fff, $arrow-color: #ccc, $size: 10px) {
  
  font-size: 0px; 
  line-height: 0%; 
  width: 0px;
  
  @if $orientation == "top" {
    border-top: $size solid $arrow-color;
    border-left: $size solid $bg-color;
    border-right: $size solid $bg-color; }
  
  @if $orientation == "bottom" {
    border-bottom: $size solid $arrow-color;
    border-left: $size solid $bg-color;
    border-right: $size solid $bg-color; }
  
  @if $orientation == "left" {
    border-left: $size solid $arrow-color;
    border-top: $size solid $bg-color;
    border-bottom: $size solid $bg-color; }
  
  @if $orientation == "right" {
    border-right: $size solid $arrow-color;
    border-top: $size solid $bg-color;
    border-bottom: $size solid $bg-color; } }



/* ANIMATION
---------------------------------------- */

@-webkit-keyframes slidingFromLeft {
  0% {left: -1440px;opacity: 0;}
	50% {left: 50px;opacity: 0.5;}
	60% {left: 50px;opacity: 0.5;}
	100% {left: 0;opacity: 1;}
} 
@-webkit-keyframes movingarrow {
  0% {top: -200px;opacity: 0;}
	50% {top: 20px;opacity: 0.5;}
	60% {top: 20px;opacity: 0.5;}
	100% {top: 0;opacity: 1;}
}
@-webkit-keyframes opacity {
	0% { opacity: 0;}
	100% { opacity: 1;}
}