$body_bg_default:  #cfcfcf;
$primary_color: #4b7399;

$blue_light: #34afe0;
$blue_basic: #1d8cc8;
$blue_dark: #157ebe;

$header-data-color: #fff;

/* TABLES
---------------------------------------- */

/*$table-color-odd: #f3f7fb;*/
$table-color-odd: darken(#fff, 4%);
$table-color-even: #fff;

$table-top-border: #5b5b5b;

$table-header-gt: #797a79;
$table-header-gb: #434242;
$table-header-link: #d3d3d3;

$table-data-color: #346a8a ;

/* MAIN NAV */

$main_nav_color_default: #333;
$main_nav_color_current: #3A3A3A;
/* SUBNAV COLORS
---------------------------------------- */

$sub_nav_gradient_light: #e7e7e7 ;
$sub_nav_gradient_dark: #d0d0d0 ;
$sub-nav-color-base: #464646;

/* NOTICES
---------------------------------------- */

$notice-error: #cf0000;


/* PAGINATION
---------------------------------------- */

$paginate-normal-bg: #fff ;
$paginate-normal-color: $blue_basic;

$paginate-disabled-bg: $paginate-normal-bg ;
$paginate-disabled-color: $paginate-normal-color;

$paginate-current-bg: $blue_basic;
$paginate-current-color: $paginate-normal-bg;