select {
  border        : 1px solid #ccc;
  @include single-box-shadow(#666,0, 1px, 1px);
}

form {
  vertical-align: top;
}

/* FORMS */

.field {
  display       : block;
  margin-bottom :$baseline;
  padding: $baseline ;
  @include white_box;
  i {
    display:block;}}

label {
  margin: #{$baseline / 2} 0 0;
  font-weight   : bold;
  display       : block; }

.inline {
  display       : inline; }

input, textarea {
  @include border-radius(3px);
  background    : #fff;
  border        : 1px solid #ccc;
  padding       :  10px ;
  max-width: 95%;
  &:focus, &:active {
    @include single-box-shadow(#666, 0, 0, 3px);
  }
}

/* USER PROFILE FORM */

.instrument_column {
  width         : 150px;
  float         : left;
  .instrument {
    padding     : 5px 0;}}

/* SEARCH FORM */

#search_form {
  .button {
    &.search {
      font-size: 11px;
    }
  }
  .field {
    float       : left;
    height      : 32px;
    margin-bottom: 0px;
    padding: 0;
    background: none;
    border: none;
    input {
      &#mass_locate {
        padding: 4px 8px;
        margin-top: 3px;
      }
    }
    .selector {
      width: 110px;
      select {
        width: 110px;
      }
      span {
        width: 90px;
      }
    }
  }
}

.logged_out {
  #user_forms {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background:#efefef;
    color:#666;
    @include border-radius(8px);
    @include single-box-shadow(#666, 0, 0, 5px);

    .services_login {
      font-size: 1em;
      margin-top: 20px;
      padding: 0;
      .shared_links {
        margin-top: 20px;
        .field {
          margin-bottom: $baseline;
        }
      }
    }
    h2 {
      color: #666;
      text-shadow: none;
      font-size: 14px;
    }
  }
}
