select {
  border        : 1px solid #ccc;
  @include single-box-shadow(#666,0, 1px, 1px);
}

form {
  vertical-align: top;
}

/* FORMS */

.field {
  display       : block;
  margin-bottom : 30px;
  font-size: 0.75em;
  line-height: 1.48em;
  i {
    display:block;}}

label {
  font-weight   : bold;
  display       : block;
  font-size: 1em;
  margin-bottom: 5px; }
  
.required {
  display       : block;
  font-style    : italic;
  opacity       : 0.6;
  margin-bottom : 5px; }
  
.inline {
  display       : inline; }
  
input, textarea {
  @include border-radius(3px);
  background    : #fff;
  border        : 1px solid #ccc;
  padding       : 5px;
  &:focus, &:active {
    @include single-box-shadow(#666, 0, 0, 3px);
  }
}

/* USER PROFILE FORM */

.instrument_column {
  width         : 150px;
  float         : left;
  .instrument {
    padding     : 5px 0;
    label {
      padding-top: 5px; }}}

/* SEARCH FORM */
  
#search_form {
  .button {
    &.search {
      font-size: 11px;
    }
  }
  .field {
    float       : left;
    height      : 40px;
    margin-bottom: 0px;
    min-width   : 170px;
    input {
      &#search_zip {
        padding: 5px 8px;
        margin-top: 3px;
      }
    }
    .selector {
      width: 154px;
      span {
        width: 131px;
        select {
          width: 140px;
        }
      }
    }
  }
}
