select {
  border        : 1px solid #ccc;
  @include single-box-shadow(#666,0, 1px, 1px);
}

form {
  vertical-align: top;
}

/* FORMS */

.field {
  display       : block;
  margin-bottom :#{$baseline}em;
  padding: #{$baseline}em ;
  @include white_box;
  i {
    display:block;}}

label {
  font-weight   : bold;
  display       : block; }
  
.inline {
  display       : inline; }
  
input, textarea {
  @include border-radius(3px);
  background    : #fff;
  border        : 1px solid #ccc;
  padding       :  #{$baseline}em ;
  max-width: 95%;
  &:focus, &:active {
    @include single-box-shadow(#666, 0, 0, 3px);
  }
}

/* USER PROFILE FORM */

.instrument_column {
  width         : 150px;
  float         : left;
  .instrument {
    padding     : 5px 0;}}

/* SEARCH FORM */
  
#search_form {
  .button {
    &.search {
      font-size: 11px;
    }
  }
  .field {
    float       : left;
    height      : 32px;
    margin-bottom: 0px;
    padding: 0;
    background: none;
    border: none;
    input {
      &#search_zip_contains {
        padding: 5px 8px;
        margin-top: 3px;
      }
    }
    .selector {
      width: 154px;
      span {
        width: 131px;
        select {
          width: 140px;
        }
      }
    }
  }
}

.logged_out {
  #user_forms {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background:#efefef;
    color:#666;
    @include border-radius(8px);
    @include single-box-shadow(#666, 0, 0, 5px);
    
    .normal_login {
      padding-left: 0;
      padding-bottom: 0;
    }
    .services_login {
      font-size: 1em;
      margin-top: 20px;
      .shared_links {
        margin-top: 20px;
        .field {
          margin-bottom: 10px;
        }
      }
    }
    h2 {
      color: #666;
      text-shadow: none;
      font-size: 14px;
    }
  }
}
