#logo {
  float:left;}

$sub_nav_topbottom_padding: 18px;

#header {
  padding: 18px 20px;
  background: $blue_dark;
  color: $header-data-color;
  @include background-image(linear-gradient($blue_light, $blue_dark));
  a {
    @include link-colors($header-data-color);
    @include hover-link;}
}

#container{
  margin:0 auto;
}

#content {
  float:left;
  width: 100%; }


#main_nav {
  position:relative;
  float:left;
  display:inline;
  width: 100%;
  background: $main_nav_color_default;
  ul {
    margin: 0;
    display:block;
    width: 100%;
    top: 0;
    li {
      margin: 0;} }}

#sub_nav {
  background-color: $sub_nav_gradient_light;
  @include background-image(linear-gradient($sub_nav_gradient_light, $sub_nav_gradient_dark));
  padding: $sub_nav_topbottom_padding 20px;
  border-bottom: #fff 1px solid;
  ul {
    @extend .normal;
    padding-left: 0;
    top: 0;
    li {
      position:relative;
      padding: 0;
      margin: 0 2px 0 ;
}}}

#sub_nav #sub_sections {
  display:block;
  overflow: visible;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 10px;
    list-style: disc inside;
  }
  a {
    text-align:left;
    @include link-colors($sub-nav-color-base);
    @include inset(#fff);
    text-decoration:none;
    position:relative;
    display:block;
    overflow:visible;
    &.current {
      font-weight:bold; }}}

.top_sub_nav_arrow {
  display:none;
  $size: 5px;
  @include css-arrow("bottom", $sub_nav_gradient_dark, #fff, $size );
  position:absolute;
  left: 45%;
  z-index: 2;
  bottom: 0 - $sub_nav_topbottom_padding; }


#sub_nav #actions_set {
  @extend #sub_sections;
  a {
    display:inline-block;
  }
  .button {
    &.back.profile {
      margin-right: 5px;
    }
    &.contact {
      margin-left: 5px;
    }
    &.add_to_contact_list {
      width: 2em;
      .ui-button-text {
        position:relative;
        text-indent: -99999px;
        padding: .35em; }}
  }
  .ui-button-text {
    font-size: 0.80em;
    padding: .4em 1em .4em 2.4em;  }
}


#footer {
  padding: $baseline;
  font-size: $basefont;

  .inner_footer {
    $radius: 3px;
    @include border-radius($radius);
    background-color: #111;
    @include box-shadow(rgba(#555, 1) 0 0 1px 1px inset);}

  &.light .inner_footer {
    padding: 18px;
  }

  .left_links {
    float:left;
  }
  .copyright {
    float:right;
  }
  a {
    margin-right: 20px;

    color:#666;
    @include hover-link;
  }
}


/* HOMEPAGE
---------------------------------------- */

.centered_grid {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}


/* PROFILE SHOW
---------------------------------------- */

.left_drawer {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.right_drawer {
 margin-left: 0;
 width: 100%;
}
