
#flash_notice,
#flash_error,
#flash_alert{ 
  padding: 20px;
  font-size: 15px;
  text-align:center; }

#flash_notice{ 
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert{ 
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors{ 
  display: inline; }

.error_messages{ 
  padding: 20px;
  @include border-radius(8px);
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: $notice-error;
  color:#fff;
  h2{ 
    text-align: left;
    margin: 0;
    color:#fff;
    @include inset(#000);}
  p{ 
    margin: 10px 0px;}
  ul{ 
    margin: 0; 
    list-style: disc inside;} }