.page_entries {
  padding: 0 10px 15px 0;
  @include inset(#fff); }

.pagination {
  padding: 15px 0;
  
  a, span, em {
    padding: 5px;
    display: block;
    float: left;
    margin-right: 3px; }

  em {
    font-weight: bold;
    background: $paginate-current-bg;
    color: $paginate-current-color; }
    
  span.disabled {
    @include opacity(0.3);} 
  a, em, span {
    @include border-radius(2px);  }
  a {
    text-decoration: none;
    background-color: $paginate-normal-bg;
    color: $paginate-normal-color;
    @include inset(#fff);
    &:hover, &:focus {
      color: $paginate-normal-bg;
      background-color: $paginate-normal-color;
      @include inset(#666); }}
      
  /* self-clearing method: */
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
    
  * html & {
    height: 1%; }
  *:first-child+html & {
    overflow: hidden; } }
