$basefont: 13px;
$baseline: 18px ;

body {
  line-height: $baseline;
}
h1, h2, h3, h4, h5, h6 {
  position: relative;
  @include inset(#fff); }

h1, h2 {
  margin-bottom: $baseline * 2; }

h1, h2, h3, h4, h5, h6 {
  line-height:  120%; }

h1 {
  font-size: 28px;
  top: 5px; }

// Specific color for dark bg

#pages {
  h1, h2, h3, h4 {
    @include inset(#000);
    color:#fff; }
  h4 {
    margin-bottom: 0; }}

h2 {
  font-size: 22px;
  top: 8px; }

h3 {
  font-size: 13px;
  margin-top: $baseline / 1.5;
  margin-bottom: $baseline / 3;
  font-weight: bold;
  color: #333; }

h4 {
  font-size: 11px;
  margin-top: $baseline / 2;
  margin-bottom: $baseline / 2; }

h5 {
  font-size: $basefont;
  font-weight:bold;}

h6 {
  font-size: $basefont; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

p, pre, address {
  font-size: 13px;
  line-height: $baseline;
  position: relative; }

abbr, code, kbd, samp, small, var {
  line-height: 15px; }

ul, ol, dl, dialog {
  font-size: $basefont;
  line-height: $baseline;
  position: relative;
  margin: $baseline 0 $baseline; }

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

li ul, li ol {
  margin-left: $baseline;
  margin-top: $baseline;
  margin-bottom: 0; }

ol.lower_alpha {
  list-style: lower-alpha outside;
}

form, legend, label {
  font-size: $basefont;
  line-height: $baseline;
  p {
    text-indent: 0  !important; }}

legend {
  position: relative;
  top: 5px; }

input, textarea {
  font-size: $basefont; }

table {
  font-size: $basefont; }

caption {
  font-size: $basefont;
  line-height: $baseline;
  position: relative; }

hr {
  position: relative;
  height: 4px;
  margin: 18px 0 14px 0; }

// Customization from Baseline

li {
  margin-bottom: $baseline;
}
h2 {
  font-weight:normal;
}
p {
  font-size: $basefont;
  padding-bottom: $baseline;
}
p+p {
  text-indent: 1.5em;
  &.no-indent {
    text-indent: 0;
  }
}
.field p+p {
  text-indent: 0;
}
