@media (max-width: 480px) {
  .friendly-actions {
    margin-bottom: $baseline;
    a {
      margin-bottom: $gridGutterWidth;
      margin-right: 0;
    }
  }
  .user_profile_listing {
    width: 100%;
  }
}
