/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  body {
    padding: 0;
  }

  .navbar.navbar-fixed-top {
    margin: 0;
  }

  .content {
    padding-top: 0;
  }

  form {
    .control-group {
      textarea {
        width: 100%;
      }
    }
  }
}
