- title t(:'.title')
- description t(:'.description')
- set_meta_tags :canonical => request.url
- @body_id = "privacy"
- @body_class = "right-panel-layout"

.box
  %header.box-header
    %h1= t(:'.title')
  .box-body
    %h3 The following discloses our information gathering and dissemination practices for this website: Emuzikos.com. This statement may be updated from time to time, so please check back periodically.
    %hr
    %h3 The information collected from our members at the time of registration is divided into the following sections:

    %ol
      %li
        %h4 Confidential Information:
        Part of your information is confidential and will not be posted in your profile. We may contact you for administrative purposes regarding your account. Also, we may use this information to customize your experience with Emuzikos. Your confidential information will never be sold or disclosed or otherwise made available to third parties. We will only disclose your personal information if required by law.

      %li
        %h4 E-mail Address:
        We do not disclose your e-mail address nor do we sell it or make it available to any third party. However, there may be promotions and surveys which may appear on the site in which your participation is optional and your taking part in same may be shared with a third party. These circumstances will be disclosed on the site. By being a member, you agree to receive e-mail correspondence from us.

      %li
        %h4 Profile Information:
        Your profile is available for other everyone to view at Emuzikos. Member's profiles include a description and a photos, individual essays and other information helpful in determining matches. Your viewable profile does not include any identifying information about you, except the username ("Online Handle") you chose upon registering and an approximate geolocation of your city on the globe.
