- title t(:'.title'), false

.centered_grid
  %h1= t(:'.title')

  %p Welcome to Emuzikos, the service for bands and musicians to meet each other online operated by Echo Media Online. Knoxville, TN ("Emuzikos").
  
  %p By using the Emuzikos Website (the "Website") you agree to be bound by these Terms of Use (this "Agreement"), whether or not you register as a member ("Member") or create a profile ("Profile"). If you wish to become a Member and communicate with other Members and make use of the Emuzikos service (the "Service"), read these Terms of Use and indicate your acceptance of them by following the instructions in theregistration process.
  %p This Agreement sets out the legally binding terms of your use of the Website and your membership in the Service and may be modified by Emuzikos from time to time, such modifications to be effective upon posting by Emuzikos on the Website. This Agreement includes Emuzikos’s Acceptable Use Policy for Content Posted on the Website, Emuzikos's Privacy Policy, and any notices regarding the Website. You may also receive a copy of this Agreement by e-mailing us at: support@emuzikos.com, Subject: Terms of Use Agreement.
  
  %ol
    %li 
      %strong Eligibility. 
      %br
      You must be eighteen or over or represented by someone eighteen or over to register as a member of Emuzikos or use the Website. Membership in the Service is void where prohibited.
      By using the Website, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.
    %li 
      %strong Term.
      %br
      This Agreement will remain in full force and effect while you use the Website and/or are a Member. You may terminate your membership at any time, for any reason by following the instructions on the Resign pages in Account Settings, or upon receipt by Emuzikos of your written or e-mail notice of termination. Emuzikos may terminate your membership for any reason, effective upon sending notice to you at the e-mail address you provide in your application for membership, or such other e-mail address as you may later provide to Emuzikos. If Emuzikos terminates your membership in the Service because you have breached the Agreement, you will not be entitled to any refund of unused subscription fees. Even after membership is terminated, this Agreement will remain in effect. Even after this Agreement is terminated, certain provisions will remain in effect, including sections 4, 5, 7 and 9-14 of this Agreement.
    %li
      %strong Non Commercial Use by Members.
      %br 
      Illegal and/or unauthorized uses of the Website, including collecting usernames and/or e-mail addresses of members by electronic or other means for the purpose of sending unsolicited e-mail and unauthorized framing of or linking to the Website will be investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress.
    %li
      %strong Proprietary Rights in Content on Emuzikos. 
      %br
      Emuzikos owns and retains all proprietary rights in the Website and the Service. The Website contains the copyrighted material, trademarks, and other proprietary information of Emuzikos, and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.
    %li
      %strong Content Posted on the Site.
      %br
      %ul
        %li You understand and agree that Emuzikos may review and delete any content, messages, Emuzikos Messenger messages, photos or profiles (collectively, "Content") that in the sole judgment of Emuzikos violate this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Members.
        %li You are solely responsible for the Content that you publish or display (hereinafter, "post") on the Service, or transmit to other Members.
        %li By posting Content to any public area of Emuzikos, you automatically grant, and you represent and warrant that you have the right to grant, to Emuzikos an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the foregoing.
        %li 
          The following is a partial list of the kind of Content that is illegal or prohibited on the Website. Emuzikos reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending communication from the Service and terminating the membership of such violators. It includes Content that:

        