- set_title t(:'.title')
- description t(:'.description')
- canonical request.url
- @body_id = "terms"
= everywhere_js do
  Layout.init("right-panel-layout");

.box
  %header.box-header
    %h1= t(:'.title')
  .box-body
    %h3
      Welcome to Emuzikos, the service for bands, musicians
      and agents to meet each other online created for you by Boris Rorsvort.

    %hr

    %p By using the Emuzikos Website (the "Website") you agree to be bound by these Terms & Conditions (this "Agreement"). If you wish to become a Member and communicate with other Members and make use of the Emuzikos service (the "Service"), read these Terms & Conditions and indicate your acceptance of them by completing registration process.

    %p This Agreement sets out the legally binding terms of your use of the Website and your membership in the Service and may be modified by Emuzikos from time to time, such modifications to be effective upon posting by Emuzikos on the Website. This Agreement includes Emuzikos’s Acceptable Use Policy for Content Posted on the Website, Emuzikos's Privacy Policy, and any notices regarding the Website. You may also receive a copy of this Agreement by e-mailing us at: support@emuzikos, Subject: Terms & Conditions Agreement.

    %ol
      %li
        %h4 Eligibility

        You must be eighteen or over or represented by someone eighteen or over to sign up as a member of Emuzikos or use the Website. Membership in the Service is void where prohibited.
        By using the Website, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.
      %li
        %h4 Term

        This Agreement will remain in full force and effect while you use the Website and/or are a Member. You may terminate your membership at any time, for any reason by following the instructions on the "Edit my account" section, or upon receipt by Emuzikos of your written or e-mail notice of termination. Emuzikos may terminate your membership for any reason and without any notice. Even after membership is terminated, this Agreement will remain in effect. Even after this Agreement is terminated, certain provisions will remain in effect.
      %li
        %h4 Non Commercial Use by Members

        Illegal and/or unauthorized uses of the Website, including collecting usernames and/or e-mail addresses of members by electronic or other means for the purpose of sending unsolicited e-mail and unauthorized framing of or linking to the Website will be investigated, and appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress.
      %li
        %h4 Proprietary Rights in Content on Emuzikos

        Emuzikos owns and retains all proprietary rights in the Website and the Service. The Website contains the copyrighted material, trademarks, and other proprietary information of Emuzikos, and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.
      %li
        %h4 Content Posted on the Site
        %ul
          %li You understand and agree that Emuzikos may review and delete any content, messages, photos or profiles (collectively, "Content") that in the sole judgment of Emuzikos violate this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of Members.
          %li You are solely responsible for the Content that you publish or display (hereinafter, "post") on the Service, or transmit to other Members.
          %li By posting Content to any public area of Emuzikos, you automatically grant, and you represent and warrant that you have the right to grant, to Emuzikos an irrevocable, perpetual, non-exclusive, worldwide license to use, copy, perform, display, and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the foregoing.
          %li
            The following is a partial list of the kind of Content that is illegal or prohibited on the Website. Emuzikos reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending communication from the Service and terminating the membership of such violators. It includes Content that:

            %ol.lower_alpha
              %li Is patently offensive to the online community, such as Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;
              %li Harasses or advocates harassment of another person;
              %li Involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spamming";
              %li Promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;
              %li Promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links to pirated music files;
              %li Contains restricted or password only access pages, or hidden pages or images (those not linked to or from another accessible page);
              %li Provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under 18;
              %li Provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;
              %li Solicits passwords or personal identifying information for commercial or unlawful purposes from other users; and
              %li Engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes.

          %li You must use the Service in a manner consistent with any and all applicable laws and regulations.
          %li You may not include in your Member description any telephone numbers, street addresses, last names, URLs or e-mail addresses unless specifically requested to.
          %li You may not engage in advertising to, or solicitation of, other Members to buy or sell any products or services through the Service.

          %li You may not transmit any chain letters or junk e-mail to other Members. Although Emuzikos cannot monitor the conduct of its Members off the Website, it is also a violation of these rules to use any information obtained from the Service in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to any Member without their prior explicit consent. In order to protect our Members from such advertising or solicitation, Emuzikos reserves the right to restrict the number of e-mails which a Member may send to other Members in any 24-hour period to a number which Emuzikos deems appropriate in its sole discretion.
        %li
          %p
            %h4 Copyright Policy

            You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. Without limiting the foregoing, if you believe that your work has been copied and posted on the Service in a way that constitutes copyright infringement, please provide our Copyright Agent with the following information: an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; a description of the copyrighted work that you claim has been infringed; a description of where the material that you claim is infringing is located on the Website; your address, telephone number, and e-mail address; a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
          %p Emuzikos's Copyright Agent for notice of claims of copyright infringement can be reached at this address: copyright@emuzikos.com

        %li
          %h4 Member Disputes

          You are solely responsible for your interactions with other Emuzikos Members. Emuzikos, Inc. reserves the right, but has no obligation, to monitor disputes between you and other Members.
        %li
          %h4 Privacy

          Use of the Website and/or the Service is also governed by our Privacy Policy
        %li
          %h4 Disclaimers

          Emuzikos is not responsible for any incorrect or inaccurate Content posted on the Website or in connection with the Service, whether caused by users of the Website, Members or by any of the equipment or programming associated with or utilized in the Service. Emuzikos is not responsible for the conduct, whether online or offline, of any user of the Website or Member of the Service. Emuzikos assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user or Member communications. Emuzikos is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of e-mail or players on account of technical problems or traffic congestion on the Internet or at any Website or combination thereof, including injury or damage to users and/or Members or to any other person's computer related to or resulting from participating or downloading materials in connection with the Web and/or in connection with the Service. Under no circumstances will Emuzikos be responsible for any loss or damage, including personal injury or death, resulting from anyone's use of the Website or the Service, any Content posted on the Website or transmitted to Members, or any interactions between users of the Website, whether online or offline. The Website and the Service are provided "AS-IS" and Emuzikos expressly disclaims any warranty of fitness for a particular purpose or non-infringement. Emuzikos cannot guarantee and does not promise any specific results from use of the Website and/or the Service.
        %li
          %h4 Limitation on Liability

          Except in jurisdictions where such provisions are restricted, in no event will Emuzikos be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including also lost profits arising from your use of the Web site or the Service, even if Emuzikos has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, Emuzikos's liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to Emuzikos for the Service during the term of membership.
        %li
          %h4 Disputes

          If there is any dispute about or involving the Website and/or the Service, by using the Website, you agree that the dispute will be governed by the laws of Belgium without regard to its conflict of law provisions.
        %li
          %h4 Other

          This Agreement, accepted upon use of the Website and further affirmed by becoming a Member of the Service, contains the entire agreement between you and Emuzikos regarding the use of the Website and/or the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.
