.profile-section {
  border: 1px solid #efefef;
  padding: $gridGutterWidth;
  @include border-radius(4px);
  background: #fff;
}

.usermap {
  margin: 0 $gridGutterWidth * -1 $gridGutterWidth;
}

.profile, .profile_sidebar {
  h4 {
    margin: $baseLineHeight 0 #{$baseLineHeight / 2};
  }
}

.nearby-user {
  a {
    padding: #{$baseLineHeight / 2};
    border-bottom: 1px solid #ccc;
    display: block;
    background: #efefef;
    &:hover {
      text-decoration: none;
      background: #ccc;
    }
  }
}

.nearby-user-instruments {
  font-style: italic;
  font-size: 12px;
  color: #666;
  margin-left: 44px;
}

.impressionist_count {
  margin: $baseline 0;
  font-size: $basefont;
}

.location_infos {
  color: #999;
}

.looking_for {
  //@extend .normal;
  margin: $baseline 0 #{$baseline / 4};
  text-transform:lowercase;
  color: $blue_basic;
  font-weight:bold;
  @include inset(#fff); }

h1.username {
  margin-bottom: 3px;
  display: inline-block;
  width: 100%; }

.spread {
  margin-bottom: $baseline;
  .socialite {
    float: left;
  }
  .left {
    float:left;
    margin-right: 10px; }}

.tag_list {
  font-size: $basefont / 1.2;
  margin: 10px 0 18px;
  span {
    padding: 0px 10px;
    background-color: $linkColor;
    @include border-radius(3px);
    margin: 0 5px 5px 0;
    color: #fff;
    display:inline-block;
    @include single-box-shadow(#fff, 0, 1px, 2px );
  }
}

.users_nearby {
  .avatar {
    margin: 0 10px 10px 0;
  }
  margin-bottom: 18px;
}

