
#inner_halo
  #main
    %header
      #main-icon.fadeInDownBig
        %img{:alt => "emuzikos-icon", :src => "/images/homepage/icon-emuzikos.png"}
      #logo_home.bounceInDown
        %img{:alt => "Emuzikos-logo", :src => "/images/homepage/logo.png"}
      %h1#main_title Emuzikos, The musician search platform
      %h2.moto
        %strong 404 Error: 
        This is probably not the page you were looking for.
    = link_to t(:'buttons.back_to_homepage'), root_path, :class => "signup_button"
  #music_notes
