#inner_halo
  #main
    %header
      #main-icon.fadeInDownBig
        = image_tag("homepage/icon-emuzikos.png", :alt => "emuzikos-icon")
      #logo_home.bounceInDown
        = image_tag("homepage/logo.png", :alt => "Emuzikos-logo" )
      %h1#main_title Emuzikos, The musician search platform
      %h2.moto
        %strong 404 Error: 
        This is probably not the page you were looking for.
    = link_to t(:'buttons.back_to_homepage'), root_path, :class => "signup_button"
  #music_notes
