%section.errorpage.row-fluid
  .span4.offset4
    %h2.moto
      %strong 404 Error:
      This is probably not the page you were looking for.
    = link_to t(:'buttons.back_to_homepage'), root_path, :class => "btn"
