.box {
  background-color: #fff;
  border: 1px solid #c9c9c9;
  @include border-top-radius($baseBorderRadius);
  @include box-sizing(border-box);
  margin-bottom: $baseLineHeight;
  overflow: hidden;
  form {
    margin-bottom: 0;
  }
  hr {
    margin: 1em -1em;
  }
  .box-actions {
    margin: 0 -1em -1em -1em;
  }
  &.box-headless {
    @include border-top-radius(0);
  }
}

.box-header {
  background: lighten(#c9c9c9, 15%);
  @include background(linear-gradient(lighten(#c9c9c9, 20%), lighten(#c9c9c9, 15%)));
  border-bottom: 1px solid #c9c9c9;
  h1, h2, h3, h4, h5 {
    font-size: 18px;
    color: $gray;
    line-height: $baseLineHeight;
    padding: 0;
    margin: 0;
  }
  &.box-header-dark {
    background: $menuPanelColor;
    @include background(linear-gradient($menuPanelColor, darken($menuPanelColor, 5%)));
    border-bottom: 1px solid $menuPanelColor;
    margin: -1px;

    h1, h2, h3, h4, h5 {
      color: $menuPanelTextColor;
    }
  }
}

.box-body-dark {
  background: $menuPanelTextColor;
  color: $menuPanelColor;
}

.box-body,
.box-header {
  padding: 1em;
}

