.content {
  background-color: $content-bg-color;
}

.mini-profiles {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.mini-profile {
  width: 100%; // Mobile width
  margin-bottom: $gutter-width;
}

.mini-profile--inner {
  border: none;
  outline: none;
  display: block;
  position: relative;
  background-color: $mini-profile-bg;
  height: 310px;
  @include border-radius($baseBorderadius);
  border: 1px solid $mini-profile-border-color;
  &:hover {
    @include box-shadow(#c0c0c0 0 0 25px);
    text-decoration: none;
    cursor: handler;
  }
}

.mini-profile--thumb {
  height: 200px;
  overflow: hidden;
  position: relative;
  @include border-top-radius($baseBorderadius);
}

.mini-profile--content {
  padding: 10px;
  font-size: emCalc(13px);
}

@include at-breakpoint($two-cols) {
  .mini-profile {
    @include span-columns(4, $two-cols);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include at-breakpoint($three-cols) {
  .mini-profile {
    @include span-columns(3, $three-cols);
    &:nth-child(2n) {
      @include span-columns(3, $three-cols);
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
