#pageless-loader {
  background: #ccc;
  width: 200px  !important;
  margin-top: 20px !important;
  @include border-radius(10px);
  padding: 10px;
  margin: 0 auto;
  .msg {
    font-size: 12px  !important;
    color:#666  !important;
    @include inset(#fff);
  }
  img {
    width: 32px;
    height: 32px;
  }
}