.profile-expander {
  background-color: $profile-expander-bg;
  position: relative;
  &:after {
     content: "";
     position: absolute;
     bottom: 100%;
     left: 49%;
     border-bottom: 10px solid $menuPanelColor;
     border-bottom-color: inherit;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
  }
}
