.tag-body, a.tag-body {
  display: inline-block;
  position: relative;
  padding: 7px 10px 7px 20px;
  margin: auto auto 25px 7px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  @include border-radius(4px);
  font-size: 11px;
  height: 8px;
  line-height: 8px;
}

.tag{
  @include border-radius(4px);
  bottom: 0;
  height: 100%;
  right: -1px;
  width: 101%;
  z-index: 0;
  background: none !important;
}
/*/ Little circle inside */
.tag:after {
  position: absolute;
  background: none repeat scroll 0 0 white;
  border: 1px solid white;
  @include border-radius(25px);
  @include box-shadow(white -1px -1px 3px inset, rgba(0, 0, 0, 0.3) 0 1px 1px inset);
  content: "";
  height: 7px;
  left: 0;
  top: 10px;
  width: 7px;
  z-index: 0;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;

  top: 7px;
  width: 6px;
  height: 6px;
}
/* Left arrow */
.tag:before{
  background: inherit;
  -moz-transform: rotate(45deg) translate(-9px, 6px);
  -webkit-transform: rotate(45deg) translate(-9px, 6px);
  -ms-transform: rotate(45deg) translate(-9px, 6px);
  -o-transform: rotate(45deg) translate(-9px, 6px);
  -khtml-transform: rotate(45deg) translate(-9px, 6px);
  transform: rotate(45deg) translate(-9px, 6px);
  border-style: solid;
  border-width: 0 0 1px 1px;
  @include border-radius(3px 4px, 3px 6px);
  z-index: 0;

  height: 16.5px;
  content: "";
  left: 4px;
  top: 5px;
  position: absolute;
  width: 17.5px;
}
.yellow{
  color: white;
  background: $linkColor;
  border-color: $linkColor;
}

.yellow .tag:before{
  background: $linkColor;
  border-color: $linkColor;
}