.top-header {
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: 1030;
  .navbar-inner {
    @include box-sizing(border-box);
    padding: $gutter-width / 2  $gutter-width;
    text-align: center;
    background-image: url('backgrounds/noisy_net.png') !important;
    background-position: initial initial;
    background-repeat: initial initial;
    border-radius: 0 0 0 0;
    @include border-top-radius($baseBorderRadius);

    ul {
      margin: 0;
    }
    .brand {
      margin: 0 auto;
    }
    .toggle {
      @include animation(fadeIn 0.2s ease-in 0);
    }
  }
}
.navbar .btn, .navbar .btn-group {
  margin: 0;
  margin-top: $gutter-width/2;
}

.right-nav-trigger{
  position: relative;
  .badge {
    position: absolute;
    top: -5px;
    left: -10px;
  }
}

.toggle-close-left,
.toggle-close-left {
  display: none;
}
.show-left {
  .toggle-close-left {
    display: inline-block;
  }
  .toggle-close-right {
    display: none;
  }
}
.show-right {
  .toggle-close-right {
    display: inline-block;
  }
  .toggle-close-left {
    display: none;
  }
}


@include at-breakpoint($tablet-cols) {
  .right-panel-layout {
    .right-nav-trigger{
      visibility: hidden;
    }
  }

  .left-panel-layout {
    .left-nav-trigger {
      visibility: hidden;
    }
  }
}

@include at-breakpoint($desktop-cols) {
  .toggle-close {
    display: none;
  }
  .right-panel-layout {
    .right-nav-trigger,
    .left-nav-trigger {
      visibility: hidden;
    }
  }
  .left-panel-layout {
    .left-nav-trigger,
    .right-nav-trigger {
      visibility: hidden;
    }
  }
}

.logo {
  font-size: emCalc(20px);
  font-weight: bold;
  position: relative;
  top: 10px;
  color: #fff;
  &:hover {
    text-decoration:  none;
    color: #fff;
  }
}
