.navbar-fixed-top {
  position: static;
  margin-bottom: 0 !important;
}

// Typogrpahy

$baseFontFamily: 'Droid Sans', "Verdana", "Helvetica", "Arial", sans-serif;
$linkColor: #1b517f;

// Nav bar colors

$navbarBackground: #0e1b28;
$navbarBackgroundHighlight: #192837;
$navbarText: #acb5b7;
$navbarLinkColor: #acb5b7;
