.navbar-fixed-top {
  position: static;
  margin-bottom: 0 !important;
}

// Typogrpahy

$baseFontFamily:            'Droid Sans', "Verdana", "Helvetica", "Arial", sans-serif;
$linkColor:                 #1b517f;

// Nav bar colors

$navbarBackground:          #0e1b28;
$navbarBackgroundHighlight: darken($linkColor, 10%);
$navbarText:                #acb5b7;
$navbarLinkColor:           #acb5b7;

// Subnav

$sub_nav_gradient_light:    #e7e7e7 ;
$sub_nav_gradient_dark:     #d0d0d0 ;
$sub-nav-color-base:        #464646;

// General

$body_bg_default:           #333;
$primary_color:             #4b7399;
$blue_light:                #34afe0;
$blue_basic:                #1d8cc8;
$blue_dark:                 #1b517f;
$header-data-color:         #fff;
$home_bg:                   #041021;

// Pagination

$paginate-normal-bg:        #fff ;
$paginate-normal-color:     $blue_basic;
$paginate-disabled-bg:      $paginate-normal-bg ;
$paginate-disabled-color:   $paginate-normal-color;
$paginate-current-bg:       $blue_basic;
$paginate-current-color:    $paginate-normal-bg;