// --------------------------------------------
// layout

// @include border-box-sizing;

body {
  padding-top: 60px;
}

.container {
  @include container;
  overflow: hidden;
  padding: 0;
  background-color: $menuPanelColor;
  @include box-sizing(border-box);
}

// --------------------------------------------
// small

.menu-panel-left {
  @include box-sizing(border-box);
  @include span-columns($mobile-side-panel-cols);
  margin-left: -100%;
  .show-left & { margin-left: 0; }
}

.main {
  @include box-sizing(border-box);
  @include span-columns($total-columns);
  margin-right: 0;
  .show-left & { margin-right: - space($mobile-side-panel-cols); }
  .show-right & { margin-left: - space($mobile-side-panel-cols); }
}

.menu-panel-right {
  @include box-sizing(border-box);
  @include span-columns($mobile-side-panel-cols);
  margin-right: -100%;
  .show-right & {
    margin-right: 0;
  }
}

.main-nav {
  @include box-sizing(border-box);
  background: $menuPanelColor;
}

// --------------------------------------------
// medium

// @include at-breakpoint($two-cols) {

//   .menu-panel-left {
//     @include span-columns($navbar);
//     margin-left: 0;
//     .show-right & { margin-left: - 100%; }
//   }

//   .main {
//     @include span-columns($two-cols-main);
//     margin-right: 0;
//     .show-right & { margin-left: 0; }
//     .show-left & { margin-right: 0; }
//   }

//   .menu-panel-right {
//     @include span-columns($navbar);
//     margin-right: -100%;
//     .show-right & { margin-right: 0; }
//   }
// }

@include at-breakpoint($three-cols) {

  .menu-panel-left {
    @include span-columns($three-cols-nav);
    margin-left: 0;
    .show-right & { margin-left: - 100%; }
  }

  .main {
    @include span-columns($three-cols-main);
    margin-right: 0;
    .show-right & { margin-left: 0; }
    .show-left & { margin-right: 0; }
  }

  .menu-panel-right {
    @include span-columns($three-cols-nav);
    margin-right: -100%;
    .show-right & { margin-right: 0; }
  }
}

// @include at-breakpoint($three-cols) {

//   .menu-panel-left {
//     @include span-columns($three-cols-nav);
//   }

//   .main {
//     @include span-columns($three-cols-main);
//     margin-right: 0;
//     .show-right & { margin-left: 0; }
//     .show-left & { margin-right: 0; }
//   }

//   .menu-panel-right {
//     @include span-columns($three-cols-nav);
//     margin-right: -100%;
//     .show-right & {
//       margin-right: 0;
//     }
//   }
// }

header, footer {
  @include clearfix;
  clear: both;
}

.menu-panel-left, .menu-panel-right, .main {
  @include transition(.2s all ease);
}

.logo {
  font-size: emCalc(20px);
  font-weight: bold;
  position: relative;
  top: 10px;
  color: #fff;
}

.main {
  @include box-sizing(border-box);
  @include box-shadow(#333 0 0 3px);
  position: relative;
}

.content {
  $gutter-width: 1em;
  $grid-padding : 1em;
  @include container;
  padding: $gutter-width;
  @include box-sizing(border-box);
}

.clearfix {
  @include pie-clearfix();
}
