// --------------------------------------------
// layout

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $body-bg-default;
  // overflow: hidden;
}

.container {
  @include container;
  overflow: hidden;
  padding: 0;
  background-color: $menuPanelColor;
  @include box-sizing(border-box);
}

.menu-panel-left,
.menu-panel-right,
.main {
  @include transition(.2s all ease);
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  @include border-top-radius($baseBorderRadius);
  background: $menuPanelColor;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
}

// ---------------------
// Mobile layout
// ---------------------

.menu-panel-left {
  @include box-sizing(border-box);
  @include span-columns($mobile-side-panel-cols);
  @include box-shadow(#333 -3px 0 3px inset);
  left: 0;
  .show-right & {
    display: none;
    left: space($mobile-side-panel-cols) * -1;
  }
}

.menu-panel-right {
  @include box-sizing(border-box);
  @include span-columns($mobile-side-panel-cols);
  right: 0;
  .show-left & {
    left: space($mobile-side-panel-cols);
    display: none;
  }
}
.main-nav {
  @include box-sizing(border-box);
  background: $menuPanelColor;
}

// Has to be before main cauz main overwrite the display propperty
.menu-panel-left,
.menu-panel-right {
  display: none;
}

.show-left .menu-panel-left,
.show-right .menu-panel-right {
  display: inline;
}

.main {
  @include box-sizing(border-box);
  @include span-columns($mobile-cols);
  margin-right: 0;
  z-index: 10;
  .show-left & {
    left: space($mobile-side-panel-cols);
    overflow: hidden;
  }
  .show-right & {
    left: space($mobile-side-panel-cols) * -1;
    overflow: hidden;
  }
}

// ---------------------
// tablet layout
// ---------------------

@include at-breakpoint($tablet-cols) {

  .main {
    @include span-columns($tablet-cols-main);
  }
  .menu-panel-left,
  .menu-panel-right {
    @include span-columns($tablet-cols-nav);
  }

  .left-panel-layout {
    .main {
      left: space($tablet-cols-nav);
    }
    .menu-panel-left {
      display: inline;
    }
    &.show-right {
      .main {
        left: 0;
        right: space($tablet-cols-nav);
      }
    }
  }

  .right-panel-layout {
    .main {
      right: space($tablet-cols-nav);
    }
    .menu-panel-right {
      display: inline;
    }
    &.show-left {
      .main {
        right: 0;
        left: space($tablet-cols-nav);
      }
    }
  }
}

// ---------------------
// Desktop layout
// ---------------------

@include at-breakpoint($desktop-cols) {

  .main {
    @include span-columns($desktop-cols-main);
  }
  .menu-panel-left,
  .menu-panel-right {
    @include span-columns($desktop-cols-nav);
  }

  .left-panel-layout,
  .right-panel-layout {
    .main {
      left: space($desktop-cols-nav);
    }
    .menu-panel-left,
    .menu-panel-right {
      display: inline;
    }
  }
}

// ---------------------
// Public desktop layout
// ---------------------

// @include at-breakpoint($public-desktop-cols) {
//   .public {
//     .main {
//       @include span-columns($public-desktop-cols-main);
//     }
//     .menu-panel-left,
//     .menu-panel-right {
//       @include span-columns($public-desktop-cols-nav);
//     }

//     &.left-panel-layout {
//       .main {
//         right: 0;
//         left: space($public-desktop-cols-nav);
//       }
//       &.show-right {
//         .main {
//           left: 0;
//           right: space($public-desktop-cols-nav);
//         }
//       }
//     }

//     &.right-panel-layout {
//       .main {
//         left: 0;
//         right: space($public-desktop-cols-nav);
//       }
//       &.show-left {
//         .main {
//           right: 0;
//           left: space($public-desktop-cols-nav);
//         }
//       }
//     }
//   }
// }

// ---------------------
// General stuff
// ---------------------

header, footer {
  @include clearfix;
  clear: both;
}

#footer {
  background: transparent image-url("backgrounds/bg-footer.gif");
  min-height: 200px;
  @include box-shadow(black 0 3px 3px inset);
  padding: 20px;
}
.main {
  @include box-sizing(border-box);
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.content {
  $gutter-width: 1em;
  $grid-padding : 1em;
  @include container;
  padding: $gutter-width;
  padding-top: 74px;
  @include box-sizing(border-box);
  position: absolute;
  top: 0px;
  bottom: 0px;
  @extend .scrollable;
  width: 100%;
}


//// Media query helper

.alert.alert-info.alert-tablet,
.alert.alert-info.alert-desktop,
.alert.alert-info.alert-public {
  display: none;
  position: fixed;
  z-index: 999999;
  bottom: 0;
  @include opacity(50);
}

@include at-breakpoint($tablet-cols) {
  .alert.alert-info.alert-mobile { display: none;}
  .alert.alert-info.alert-tablet{
    display: block;
  }
}
@include at-breakpoint($desktop-cols) {
  .alert.alert-info.alert-desktop {
    display: block;
  }
}
// @include at-breakpoint($public-desktop-cols) {
//   .alert.alert-info.alert-public {
//     display: block;
//   }
// }

