
#uvTab {
  display:none  !important;
}

#pages.homepage {
  #logo {
    display:none;}
}

#logo {
  width: 100%;
  margin: 0 auto 10px;
  float: none;
  text-align: center; }


/* NAVIGATION
---------------------------------------- */

.navbar-fixed-top, .navbar-fixed-bottom {
  margin: 0;
}

/* USER */

.progress_bar_wrapper {
  width: 220px;
  margin: 0 auto;
  margin-bottom: $basefont;
  text-align: center;
  font-size: $basefont;
  background: #fff;
  .progress_bar,  {
    width: 220px;
    height: 19px;
    margin-top: $basefont;
  }
}

.pagination {
  visibility: hidden;
}


/* SEARCH */

.searchbar {
  h3 {
    font-size: 16px;
    margin-bottom: $baseLineHeight;
  }
}
#search_form {
  padding: $gridGutterWidth;
  .tab-content {
    overflow: visible;
  }
}
.searchbar-field {
  margin-bottom: $baseLineHeight;
}
#mass_locate {
  width: 95%;
}
.no_users {
  @include white_box;
  padding: $gridGutterWidth;
}

// @media (min-width: 768px) {
//   .sidebar-nav-fixed {
//     position:fixed;
//     top:60px;
//     width:21.97%;
//   }
// }

/* CONTACT LIST*/

#users.contacts {
  .actions {
    margin-bottom: 18px;
  }
}

/* TESTIMONIALS */

#testimonials {
  clear: both;

  .testimonial {
    width: 230px;
    padding: 15px;
    font-size: 11px;
    @include inset(#fff);
    padding: 18px;
    line-height: 1.50em;
    background-color:#fff;
    @include box-shadow(#666, 0, 0, 3px, 1px inset);
    @include border-radius(5px);
    margin: 0px 10px 10px 0px;
    float:left;
    .author {
      font-weight:bold;
    }
    .avatar {
      float:left;
      border: 3px solid #ccc;
      @include border-radius(3px); }
    .text {
      padding-left: 50px;
    }
  }

}
.testimonials.wide .testimonial {
 width: 225px !important;
}

#testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0px;
  visibility: hidden;
}

// invite friends

#social_share {
  h2 {
    color:  $grayLight;
    font-weight: normal;
  }
  .span4 {
    margin-bottom: $baseline;
  }
}
.paypal {
  form input {
    width: 100px;
  }
}

.jspinner-container {
  height: 20px;
  background: #EFEFEF;
  width: 100px;
  top: 0;
  left: 50%;
  position: fixed;
  text-align: center;
  @include animation(fadeInDown 0.5s linear 1);
  @include border-bottom-radius(5px);
  z-index: 20000000000;
  .jspinner-inner {
    position: absolute;
    left: -50px;
  }

}
