
// #uvTab {
//   display:none  !important;
// }

#pages.homepage {
  #logo {
    display:none;}
}

#logo {
  width: 100%;
  margin: 0 auto 10px;
  float: none;
  text-align: center; }


/* LAyOUT*/

#inner_content {
  background:#fff;
  padding: 18px; /* for non mobiel version*/
}
#messages.index {
  #inner_content {
    padding: 0 0 18px 0;
    .button.delete {
      margin-left: 10px;
    }
  }
}
.content {

  min-height: 400px !important;
}

form {
  max-width: 768px;
  .control-group {
    textarea {
      width: 97%;
    }
  }
}


/* NAVIGATION
---------------------------------------- */

.navbar-fixed-top, .navbar-fixed-bottom {
  margin: 0;
}

/* USER */

.progress_bar_wrapper {
  width: 220px;
  margin: 0 auto;
  margin-bottom: $basefont;
  text-align: center;
  font-size: $basefont;
  background: #fff;
  .progress_bar,  {
    width: 220px;
    height: 19px;
    margin-top: $basefont;
  }
}

.pagination {
  visibility: hidden;
}

/* USER SHOW */

.impressionist_count {
  margin: $baseline 0;
  font-size: $basefont;
}

.looking_for {
  //@extend .normal;
  margin: $baseline 0 #{$baseline / 4};
  text-transform:lowercase;
  color: $blue_basic;
  font-weight:bold;
  @include inset(#fff); }

h1.username {
  margin-bottom: 3px;
  display: inline-block;
  width: 100%; }

.location_infos {
  color: #999;
  margin: $baseline 0;
  display: block; }

.spread {
  margin-bottom: $baseline;
  .socialite {
    float: left;
  }
  .left {
    float:left;
    margin-right: 10px; }}

.tag_list {
  font-size: $basefont / 1.2;
  margin: 10px 0 18px;
  span {
    padding: 0px 10px;
    background-color: $linkColor;
    @include border-radius(3px);
    margin: 0 5px 5px 0;
    color: #fff;
    display:inline-block;
    @include single-box-shadow(#fff, 0, 1px, 2px );
  }
}

.jcrop-holder img, img#preview {
  max-width: none  !important;
  max-height: none  !important;
}

.users_nearby {
  .avatar {
    margin: 0 10px 10px 0;
  }
  margin-bottom: 18px;
}

.future_events {
  ul {
    list-style: none;
  }
}

.soundcloud_block {
  max-width: 80%;
  li {
    margin-right: 0 !important;
  }
}

/* SEARCH */

#users.index {
  .container-fluid[role="main"] {
      background: $body_bg_default image-url("backgrounds/bg-footer.gif");
  }
}

.searchbar {
  h3 {
    font-size: 16px;
    margin-bottom: $baseLineHeight;
  }
}
#search_form {
  padding: $gridGutterWidth;
  .tab-content {
    overflow: visible;
  }
}
.searchbar-field {
  margin-bottom: $baseLineHeight;
}
#mass_locate {
  width: 95%;
}
.no_users {
  @include white_box;
  padding: $gridGutterWidth;
}

// @media (min-width: 768px) {
//   .sidebar-nav-fixed {
//     position:fixed;
//     top:60px;
//     width:21.97%;
//   }
// }

/* CONTACT LIST*/

#users.contacts {
  .actions {
    margin-bottom: 18px;
  }
}

/* TESTIMONIALS */

#testimonials {
  clear: both;

  .testimonial {
    width: 230px;
    padding: 15px;
    font-size: 11px;
    @include inset(#fff);
    padding: 18px;
    line-height: 1.50em;
    background-color:#fff;
    @include box-shadow(#666, 0, 0, 3px, 1px inset);
    @include border-radius(5px);
    margin: 0px 10px 10px 0px;
    float:left;
    .author {
      font-weight:bold;
    }
    .avatar {
      float:left;
      border: 3px solid #ccc;
      @include border-radius(3px); }
    .text {
      padding-left: 50px;
    }
  }

}
.testimonials.wide .testimonial {
 width: 225px !important;
}

#testimonials:after {
  clear: both;
  content: '';
  display: block;
  height: 0px;
  visibility: hidden;
}

// invite friends

#social_share {
  h2 {
    color:  $grayLight;
    font-weight: normal;
  }
  .span4 {
    margin-bottom: $baseline;
  }
}
.paypal {
  form input {
    width: 100px;
  }
}

.jspinner-container {
  height: 20px;
  background: #EFEFEF;
  width: 100px;
  top: 0;
  left: 50%;
  position: fixed;
  text-align: center;
  @include animation(fadeInDown 0.5s linear 1);
  @include border-bottom-radius(5px);
  z-index: 20000000000;
  .jspinner-inner {
    position: absolute;
    left: -50px;
  }

}
