.hidden {
  display: none;
}

.marginless {
  margin: 0;
}

.borderless {
  border: 0;
}
// Mobile utils


.hidden-desktop    { }
.visible-desktop   { display: none; }
.visible-phone     { } // Use inherit to restore previous behavior
.hidden-phone      { display: none; }

.noscroll {
  overflow: hidden !important;
}

.clearfix {
  @include pie-clearfix();
}
