.hidden {
  display: none;
}

.marginless {
  margin: 0;
}

.borderless {
  border: 0;
}
// Mobile utils


.hidden-desktop    { }
.visible-desktop   { display: none; }
.visible-phone     { } // Use inherit to restore previous behavior
.hidden-phone      { display: none; }

.noscroll {
  overflow: hidden !important;
}

.clearfix {
  @include pie-clearfix();
}

// Mobile forms styles
.form-horizontal {
  .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type=text],
  textarea {
    width: 100%;
    @include box-sizing(border-box);
    min-height: 40px;
  }
  // Move over all input controls and content
  .controls {
    margin-left: 0;
  }
  // Move the options list down to align with labels
  .control-list {
    padding-top: 0; // has to be padding because margin collaspes
  }
  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
}
