// Base grid settings
$column-width           : 4em;
$gutter-width           : 0em;
$grid-padding           : 0;
$total-columns             : 4;
$container-style        : fluid;

// Mobile columns 4
$mobile-cols            : $total-columns;
$menu-offset-anchor     : 1;
$mobile-side-panel-cols : $mobile-cols - $menu-offset-anchor;

// Tablet columns 8
$tablet-cols            : 8;
$tablet-cols-main       : 6;
$tablet-cols-nav        : $tablet-cols - $tablet-cols-main ;

// Desktop columns 12
$desktop-cols           : 12;
$desktop-cols-main      : 10;
$desktop-cols-nav       : $desktop-cols - $desktop-cols-main;

// Misc
$baseBorderadius         : 3px;

// Colors
$primary-color: $linkColor;
$content-bg-color: #e9eaed;
$body-bg-default: #e9eaed;

// Mini-profiles

$mini-profile-bg: #fff;

$mini-profile-border-color: darken($content-bg-color, 5%) ;

// panel nav

$menuPanelColor: #22262c;
$btn-nav-bg: lighten($menuPanelColor, 10%);

@function emCalc($pxWidth) {
  @return $pxWidth / $baseFontSize * 1em;
}

// overlay

$overlay-topbar-size: 50px;

// Expander

$profile-expander-bg: #fff;
