
// Layout

.homepage .container-fluid[role=main] {
  background: $home_bg !important;
}

// Titles

#main_title {
  text-indent: -9990px;
  margin-top: -50px;
  height: 0; /* keep consistent baseLineHeight */
}
.moto {
  font-size: $baseFontSize * 2;
  color: #7bb3cf  !important;
  font-weight:normal;
  margin: #{$baseLineHeight * 2} 0;
  @include text-shadow(#000, 0, 1px, 1px);
  @include animation(bounceInUp 1.5s linear 1);
  strong {
    color:#7bb3cf  !important;
  }
}
.homepage {
  .block_separator {
    font-size: 24px;
    padding: 45px 0;
    text-align: center;
    margin: 0;
    font-weight: normal;
    background:transparent image-url('homepage/home-separator.png') center top no-repeat;
    color:#828282  !important;
  }
  h4 {
    color: #f5bd14;
    font-size: 14px;
    @include inset(#000, "important");
    margin-bottom: $baseLineHeight / 2; }}

#music_notes {
  background:transparent image-url('homepage/music-notes.png') center -40px repeat-x;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  @include animation(slidingFromLeft 4s linear 1);
}

#inner_halo {
  position:relative;
  background:transparent image-url('homepage/halo.png') center bottom no-repeat;
}

#main {
  text-align:center;
  padding: 20px;
}

#logo_home, #main-icon {
  width: 80%;
  margin: 0 auto;
}

#logo_home {
  margin-bottom: 38px;
  @include animation(bounceInUp 1s linear 1);
}

#main-icon {
  margin-bottom: 10px;
  @include animation(bounceInUp 1s linear 1);
}

.signup_button {
  @include background(linear-gradient(#f1d260 0%, #efbf26 100%));
  @include inset(#fff);
  @include border-radius(45px);
  @include box-shadow( #cbc5a1, 0, 0, 2px, inset);
  @include animation(bounceInUp 2s linear 1);
  height: 45px;
  line-height: 45px;
  max-width: 260px;
  display:block;
  margin: 0 auto 20px;
  background: #f1d260; /* Old browsers */
  color: #5e501e;
  text-decoration:none;
  border: 7px solid #273b52;
  text-transform: uppercase;
  font-weight:bold;
  text-align: center;
  font-size: 14px;
  z-index: 9999;
  position: relative;
  @include animation(bounceInUp 2s linear 1);

  &:hover {
    color: darken(#5e501e, 10%);
    @include scale(1.02);
    text-decoration: none;
  }
}

// Features

.features_columns {
  background-color: $home_bg;
  padding: 0 0px 48px;
  .inner_block {
    padding: 0 $gridGutterWidth;
  }
  .columns {
    padding: 3%;
    width: 250px;
    .inner_column {
      @include box-sizing('border-box');
    }
  }
  p, li {
    color: $grayLight ;
  }
}

.app_sample_thumb {
  display: block;
  width: 100%;
  img {
    border: 5px solid #fff;
    @include box-sizing('border-box');
    @include box-shadow(#000, 0, 1px, 1px);
    @include border-radius(5px);
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    max-width: 100%;
    position: relative;
    &:hover{
      border-color: #f5bd14;
      top: 5px;
    }
  }
}

.note_circle {
  width: 84px;
  height: 41px;
  margin: 20px auto 0;
  background:transparent image-url('homepage/note-circle.png') center bottom no-repeat;
}

// testimonials

.latest_testimionals {
    margin-bottom: $baseLineHeight;
}

.home_testimonials {
  .testimonial {
    font-size: $basefont;
    background-color: #030c1a;
    @include border-radius(10px);
    padding: $baseLineHeight;
    margin: 0 10px $baseLineHeight;
  }
  .text {
    font-size: 12px;
    opacity: 0.8;
    padding-left: 50px;
    color: $grayLight;
  }
  .author {
    font-weight:bold;
    margin-bottom: $baseLineHeight / 2;
    color: #496781;
    @include inset(#000);
  }
  .avatar {
    float:left;
    border: 3px solid #ccc;
    @include border-radius(3px); }
}

#terms, #privacy {
  h4 {
    margin: $baseLineHeight $baseLineHeight / 2;
  }
  .centered_grid {
    color: $grayLight;
  }
}

// Forms

.boxy_forms {
  background: #fff;
  font-size: 12px;
  @include border-radius(10px);
  padding: $gridGutterWidth;
  @include box-sizing(border-box);
  text-align: center;
  .normal_login_trigger  {
    display: block;
    margin-bottom: $gridGutterWidth;
  }
  .controls, .form-actions {
    text-align: left;
  }
}

/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {

  .homepage h2.moto {
    font-size: 41px;
  }

  .inner_block {
    margin: 0 auto;

    &.home_feature {
      max-width: 960px;
      .columns {
        @include fluid_column(3%, 3);
        padding-top: 0;
      }
    }
    &.home_testimonials {
      max-width: 620px;
      .t_column {
        @include fluid_column(0, 2);
      }
    }
  }

}/*/mediaquery*/



