---
title: Emuzikos - The first easy way to find local musicians
---

<div class="container">
  <div class="text-center">
    <%= image_tag 'logo.png', alt: "Emuzikos" %>
    <h1>
      EMUZIKOS
    </h1>
  </div>

  <div class="columns">
    <p>Emuzikos is over. I started this back in the days because, as a musician myself I needed to find musicians around me.</p>
    <p>I didn't realize at the time how much effort it would require to have enough member concentration in one city to actually get poeple chatting.</p>
    <p>As members concentration was very low, messages were seldom and either I had to put much more effort into getting members or close the service.</p>
    <p>As life priorities have shifted for me, I decided to close Emuzikos.</p>
    <p>This was a nice experiment and it could have worked at the time, but they are better tools today.</p>
    <p>Best,</p>
    <p>Boris Rorsvort</p>
  </div>
</div>
