- title t(:'.title')
-if @current_user
  %p= link_to t(:'buttons.testimonials.create'), new_testimonial_path, :class => "button add"
.testimonials{ :class => (@current_user ? nil : "wide")}
  - if !@testimonials.blank?
    = render @testimonials
   
  -else
    %p= t(:'testimonials.no_testimonials')
.pagination
  = will_paginate @testimonials
.clear 
