/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {

#users.index #search_form .field {
  &#location {
    width: 28%;
    .centered input {
    width: 88%;
  }
  }
  .button.submit.search {
    margin-top: 3px;
  }
}

.right_drawer {
  float: right;
  display:inline;
  margin-left: 0px;
  width: 80%;
}

.left_drawer {
  max-width: 20%;
  display:inline;
  float:left;
}

#footer {
  a {
    display:inline-block;
    margin: 0 20px 0 0;
  }
  .left_links {
    width: auto;
  }
  .copyright {
    float: right;
    margin-top: 0;
  }
}

/* LOGGUED OUT  */
.logged_out {
  #user_forms {
    width: 35%; }
}

}/*/mediaquery*/