%nav#main_nav
  %ul
    %li.icon-search
      =link_to t(:'menu.all_users'), users_url,
        :class => current_page?(users_path) ? "current" : nil
      
    %li.icon-messages
      =link_to user_messages_path(current_user), :class => (controller.controller_name == "messages" || current_page?(user_contacts_path(current_user)) ) ? "current" : nil do
        = t(:'menu.messages.messages')
        = unread_messages_count unless  current_user.received_messages.un_read.count == 0
        
    %li.icon-user
      =link_to t(:'menu.profile.show'), edit_user_url(current_user), 
        :class => (current_page?(user_path(current_user)) || current_page?(edit_user_path(current_user)) || current_page?(edit_user_registration_path(current_user)) || current_page?(services_path)) ? "current" : nil