%aside.menu-panel.menu-panel-right
  %section.main-nav
    %h4 Messages
    %ul
      %li
        %a{:href => "/"}
          %i.icon-mail
          Inbox
      %li
        %a{:href => "/"}
          %i.icon-users
          Contacts
    %h4 You profile
    %ul
      %li
        %a{:href => "/"}
          %i.icon-pencil
          Edit my profile
      %li
        %a{:href => "/"}
          %i.icon-globe
          Public profile
      %li
        %a{:href => "/"}
          %i.icon-cog
          Edit my Account
      %li
        %a{:href => "/"}
          %i.icon-share
          Authentication services
