.top-header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    %ul.pull-left
      %li
        %a.btn-nav.toggle{style: "display:none;", data: {trigger: 'close'}}
          %i.icon-cancel
        %a.btn-nav.left-nav-trigger.toggle{:href => "#left"}
          %i.icon-search
    %ul.pull-right
      %li
        %a.btn-nav.right-nav-trigger.toggle{:href => "#right"}
          %i.icon-user
        %a.btn-nav.toggle{style: "display:none;", data: {trigger: 'close'}}
          %i.icon-cancel
    %span.logo EMUZIKOS
