.top-header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    %ul.pull-left
      %li
        %a.btn.btn-primary.toggle.animated.fadeIn{style: "display:none;", data: {trigger: 'close'}}
          %i.icon-cancel
        %a.btn.btn-primary.left-nav-trigger.toggle{:href => "#left"}
          %i.icon-search
    %ul.pull-right
      %li
        %a.btn.btn-primary.right-nav-trigger.toggle{:href => "#right"}
          %i.icon-user
        %a.btn.btn-primary.toggle.animated.fadeIn{style: "display:none;", data: {trigger: 'close'}}
          %i.icon-cancel
    %span.logo EMUZIKOS
