-if user_signed_in?
  = link_to "Hi #{current_user.username}!" , user_path(@current_user)
  = link_to t(:'menu.contact'), contact_path
  =link_to t(:'menu.testimonials'), testimonials_path
  =link_to t(:'menu.logout'), destroy_user_session_path, :class => "logout"
  
-else
  =link_to t(:'menu.testimonials'), testimonials_path
  =link_to t(:'menu.register'),new_user_registration_path
  =link_to t(:'menu.login'), new_user_session_path
