@media only screen and (min-width: 768px) {

#pages.homepage {
  #logo {
    display:block;
    float:left;}
}

#messages.index {
  #inner_content {
    padding: 18px;
    .button.delete {
      margin-left: 0;
    }
  }
}

.users_list {
  .user_profile_listing {
    clear:both;
    overflow: hidden; /* Trick to get equal height columns */
    &:hover {
      border-color: $linkColor;
    }
    .section {
      margin-bottom: -99999px; /* Trick to get equal height columns */
      padding-bottom: 99999px; /* Trick to get equal height columns */
      float:left;
      text-align:left  !important;
      &.user_general_infos {
        width: 30%; }
      &.user_type {
        width: 30%;
        border-top: 0px solid #dddddd;
        border-left: 1px solid #dddddd;
        text-align:center; }
      &.user_instruments {
        width: 20%;
        overflow: hidden;
        border-top: 0px solid #dddddd;
        border-left: 1px solid #dddddd; }
    }
    .tag_list {
      padding-bottom: 10px; /* Adding pading cauz .section padding-bottom is taken for the equal height Trick  */
    }
  }
}

.right_drawer {
  display:inline;
  float: right;
  width: 75%;
}

.left_drawer {
  display:inline;
  float:left;
  width: 25%;
  .inner {
    padding-right: $baseline / 2;
  }
}
.inner_profile_wrapper {
  margin-left: $baseline / 2;
}


/* 12. MESSAGES
---------------------------------------- */

.message {
  margin-bottom: 10px;
}

/* HOME PAGE */

.homepage {
  h2.moto {
    font-size: 3em;
  }
  #logo_home, #main-icon {
    width: 100%;
    margin: 0 auto;
  }
  #logo_home {
    margin-bottom: 38px;
  }
}

// Invite friends

.invite_friend_block {
  float: left;
  width: 44% ;
  margin-right: 2%;
  &:last-child {
    margin-right:  0;
    width: 46%;
  }
}


}/*/mediaquery*/
