
/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {

body {
  padding-top: 40px;
}

.users_list {
  .user_profile_listing {
    clear:both;
    overflow: hidden; /* Trick to get equal height columns */
    &:hover {
      @include single-box-shadow(#999, 0, 0px, 2px );
      border-color: #fff;
    }
    .section {
      margin-bottom: -99999px; /* Trick to get equal height columns */
      padding-bottom: 99999px; /* Trick to get equal height columns */
      float:left;
      text-align:left  !important;
      &.user_general_infos {
        width: 30%; }
      &.user_type {
        width: 30%;
        border-top: 0px solid #dddddd;
        border-left: 1px solid #dddddd;
        text-align:center; }
      &.user_instruments {
        width: 30%;
        overflow: hidden;
        border-top: 0px solid #dddddd;
        border-left: 1px solid #dddddd; }
    }
    .tag_list {
      padding-bottom: 10px; /* Adding pading cauz .section padding-bottom is taken for the equal height Trick  */
    }
  }
}

#users.index #search_form {
  .search_field {
    margin: 0 $baseline 0 0;
    width: 150px;
  }
}

.right_drawer {
  float: right;
  display:inline;
  margin-left: 0px;
  width: 80%;
}

.left_drawer {
  max-width: 20%;
  display:inline;
  float:left;
}

#footer {
  a {
    display:inline-block;
    margin: 0 20px 0 0;
  }
  .left_links {
    width: auto;
  }
  .copyright {
    float: right;
    margin-top: 0;
  }
}

/* LOGGUED OUT  */
.logged_out {
  #user_forms {
    width: 50%; }
}

}/*/mediaquery*/